.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: full-spin infinite 20s linear;
    
  }
  .icon-spin{
    
    transform:rotate(180dg)
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes full-spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

