.blog_main_img{
    width:100%;
    height:75%;
}
.blog_row{
    justify-content: space-evenly;
}
.blog_row p{
    text-align: left;
font: normal normal 600 30px/40px Segoe UI;
letter-spacing: 0px;
color: #878787;
opacity: 1;
width: 511px;
height: 160px;
margin-top:20px;
margin-bottom:150px;
}