.side_text_container{
    display: contents;
}
.firstRow .contentPage_main_image{
    width: 10vw;
    height: 10vw;
    margin-left:20vw;
    margin-top:4vw;
}
.contentPage_main_image{
    width: 15vw;
    height: 15vw;
    margin-left:20vw;
}
.contentPage_side_image{
    width:50vw;
}
.contentPage_main_label{
    font-size:2vw;
    font-weight: bold;
}
.contentPage_main_description{
    width:70%;
    font-size:1.3vw;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-left: 8vw;
}
.subRow{
    background-color: #f5f5f5;
    height: 35vw;
}
.white{
    background-color: #ffffff;
}
.subRow .contentPage_main_image{
    margin-top:9vw;
}
.subRow .contentPage_main_description{
    text-align: start;
    margin-left: 12vw;
    font-size:1vw;
    width: 39vw;
}
.subRow .contentPage_main_label{
    margin-left: 8vw;
    width: 68%;
}
.contentPage_text_container{
    margin-top:7vw;
}
.contentPage_main_image_white{
    width: 15vw;
    height: 15vw;
    margin-right:20vw;
    margin-top:8vw;
}
.w-67
{
    width: 67%;
}
.contentPage_intro_button{
    border: none;
    color: white;
    border-radius: 15px;
    width:38%;
    height: 40px;
}