.navbar-blue{
    background:#30ADCB;transform:skewX(-15deg);display:flex;justify-content:center;align-items:center;
    height: 100px;
    z-index:2;
}
.navbar-lightblue{
    /* background-color: #83E7FF; */
    background: linear-gradient(to right,#83E7FF,#30ADCB);
    text-align: end;
    justify-content: flex-end;
}
.navigationbar{
    z-index:2;
}
.navigationbar-clone{
    z-index:1;
    margin-top:-100px;
}
.navbar-blue-clone{
    background:#30ADCB;display:flex;justify-content:center;align-items:center;
    height: 100px;
}
.final_logo{
    transform: skewX(15deg);
    width:70%;
}
.hamburger{
    color:white;
    cursor: pointer;
    margin-top: 32px;
}
.flag{
    width: 33px;
    height: 20px;
    margin-top:14px;
    cursor: pointer;   
}
.flag_name{
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.hamburger_items{
    list-style-type:none;
    position: absolute;
    float: right;
    transition: opacity 0.5s;
}
.hamburger_items p
{
    color:white;
}
.flex-end{
    justify-content: flex-end;
}
.menu_button
{
    color: white;
    border-radius: 30px;
    background: transparent linear-gradient(180deg, #83E7FF 0%, #30ADCB 100%) 0% 0% no-repeat padding-box;
    padding: 6px 13px;
    text-decoration: none;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    outline: none;

}
.list_group_item{
    background: transparent;
    margin-top:25px;
}
.not-showing {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .showing {
      z-index: 1;
    visibility: visible;
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 1;
  
  }
  .Footer{
      background-color: #238097;
  }
  .footer_container{
      justify-content: space-around;
      height: 114px;
  }
  .footer_image{
    width:15vw;
    height: 2vw;
    margin-top:45px;
  }
  .footer_links{
      width:30%;
      justify-content: space-between;
      margin-top:45px;
      font-size: 1vw;
      letter-spacing: 0px;
      opacity: 1;
  }
  .footer_links a{
    text-decoration: none;
    color: #FFFFFF;
}
  .copyright{
    margin-top:45px;
    font-size: 1vw;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  .anchor{
      height:20px;
  }
  .my-popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  
  html[data-theme='dark'] .popup-content {
    background-color: rgb(41, 45, 62);
    color: #fff;
    border: 1px solid #9a9595;
  }
  .flag_show{
      display:block;
  }
  .flag_hide{
    display:none;
  }
