.HomepageCarousel{
    background-color:#F5F5F5 ;
    max-height: 680px;
}
.side_text_container{
    max-height: 300px;
}
.side_text_container_2{
    text-align: left;
    margin-left: 150px;
    margin-top:150px;
}
.intro{
    width:65%;
    font-size:2.70vw;
    line-height: 3.5vw;
    letter-spacing: 0px;
    color: #238097;
    opacity: 1;
}
.intro_long{
    width:70%;
    font-size:1.08vw;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}
.intro_button{
    background: transparent linear-gradient(114deg, #F4A239 0%, #FD6B15 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    border-radius: 15px;
    width:38%;
    height: 40px;
}
.request_now{
    text-align: center;
    font: normal normal bold 15px/20px Segoe UI;
    margin-top:9px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.carousel_image{
    width: 101%;
    height: 680px;
}
.HomepageCarousel .carousel-control-prev-icon { 
    display: none;
}
.HomepageCarousel .carousel-control-next-icon{
    display: none;
}
.carousel-control-next-icon{
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
}
.how_it_works_title{
    color: #238097;
    font-size: 3vw;
    margin-top: 4vw;
}
.Quality_digital_services_title{
    color: #238097;
    font-size:2.70vw;
    margin-top: 4vw;
}
.Quality_digital_services_text{
    text-align: left;
    margin-left:25%;
    font-size:1.01vw;
    width: 50%;
    color: #878787;
}
.Quality_digital_services_button{
    background: transparent linear-gradient(114deg, #F4A239 0%, #FD6B15 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    border-radius: 15px;
    width:20%;
    height: 40px;
}
.Define_your_digital_strategy_title
{
    color: #238097;
    font-size:2.70vw;
    margin-top: 4vw;
}
.base{
    width: 12vw;
    height: 12vw;
    position:absolute;
    margin-top: 9vw;
    margin-left: -6vw;
}
.animation_img{
    width: 6vw;
    height: 6vw;
}
.Define_your_digital_strategy_animation{
    justify-content: space-around;
    background-color: #F5F5F5;
    height: 30vw;
}
.play_button{
    background-color: #e5e5e5;
    width:5vw;
    transform: skew(-15deg);
}
.fa-play
{
    color: #F5F5F5;
    margin-top: 13vw;
}
.first{
    margin-top:13vw;
    position: absolute;
    width: 35%;
    margin-left: -27vw;
}
.second{
    position: absolute;
    width: 40%;
    margin-left: -27vw;
}
.first p{
    font-size: 2vw;
}
.digital_excellence_title_container{
    display: flex;
    justify-content: space-around;
}
.digital_excellence_title{
    color: #238097;
    font-size: 2.5vw;
    margin-top: 4vw;
    width: 35%;
}
.digital_excellence_carousel_image{
    width:50%;
    height: 50%;
    margin-left: 21.5vw;
}
.outstanding_keyword_title_container{
    display: flex;
    justify-content: space-around;
}
.outstanding_keyword_title{
    color: #238097;
    font-size: 2.5vw;
    margin-top: 4vw;
    width: 35%;
}
.outstanding_keyword_carousel_image
{
    width:100%;
    height: 85%;
}
.outstanding_keyword_carousel_item{
    display: flex;
    justify-content: center;
    gap:3%;
}
.outstanding_keyword_carousel_item_width{
    width: 20%;
}
.outstanding_keyword_carousel_label{
    color: #238097;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 1%;
}
.outstanding_keyword_button{
    background: transparent linear-gradient(114deg, #F4A239 0%, #FD6B15 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    border-radius: 15px;
    width:18%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 10%;
}
.outstanding_keyword .carousel-indicators button{
    display: none;
}
.Digital_excellence .carousel-indicators button{
    display: none;
}
.HomepageCarousel .carousel-control-prev{
    display: none;
}
.HomepageCarousel .carousel-control-next{
    display: none;
}
.cookies{
    position:fixed ;
    margin-top: 250px;
    z-index: 61;
    background-color: white;
    margin-left: -10vw;
    width: 900px;
    height: 250px;
}
.cookie_button{
    background: #34A852;
    border: none;
    color: white;
    border-radius: 10px;
    width:38%;
    height: 40px;
}
.cookie_button_2{
    background: #FFFFFF;
    border: none;
    color: #A6ADB4;
    border-radius: 10px;
    border: 2px solid #A6ADB4;
    width:38%;
    height: 40px;
}
.cookie_settings{
    position:fixed ;
    margin-top: 150px;
    z-index: 61;
    background-color: white;
    margin-left: -16.7vw;
    width: 1131px;
    height:650px;
}
.cookie_settings_buttons{
    justify-content: space-around;
}
.cookie_settings .description{
    text-align: left;
    font: normal normal normal 16px/21px Segoe UI;
    letter-spacing: 0.32px;
    color: #000000;
    opacity: 1;
}
.cookie_settings .label_text{
    text-align: left;
    font: normal normal bold 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.cookie_settings .small_letters{
    text-align: left;
    font: normal normal normal 13px/18px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.cookie_settings .switch_text{
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch_flex{
    justify-content: space-between;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
 }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.scrollable{
  overflow-y:auto;
  min-height:400px;
  max-height:250px;
  justify-content: space-evenly;
  gap:85px;
  margin-left: 50px;
  width:90%;
}
.cookie_settings p{
    text-align: left;
    font: normal normal normal 16px/21px Segoe UI;
    letter-spacing: 0.32px;
    color: #000000;
}
.popup{
    position:fixed ;
    margin-top: 100px;
    z-index: 61;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 500px;
}
.popup input{
    width: 250px;
    border:1px solid gray
}
.popup textarea{
    width: 250px;
    height: 100px;
    border:1px solid gray
}
.popup h5{
    opacity: 0.5;
}
.contact_form{
    display: flex;
    justify-content: center;
}
.accordion-button{
    background: transparent linear-gradient(
93deg, #7AE1F9 0%, #30ADCB 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    width: 70vw;
    margin-top: 20px;
}
.accordion-header{
    display: flex;
    justify-content: center;
    
}
.accordion-header p{
    margin-bottom:0;
    font: normal normal bold 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.accordion-header div{
    width: 100%;
    text-align: center;
}
.accordion-body{
    height: 175px;
    width:69vw;
    margin-left: 15.5vw;
    background-color: #F5F5F5;
}
.accordion-body p{
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}
.accordion-item:first-of-type .accordion-button{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
.accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.accordion-item{
    border:none;
}
.faq_email{
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}
.hidden{
    display:none;
}
.show img{
    width: 13vw;
    height: 13vw;
}
.show .label{
    text-align: center;
    font: normal normal 900 3vw Swis721 Blk BT;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}
.show .sub{
    text-align: center;
    font: normal normal normal 1vw Segoe UI;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}
.show a{
    border: none;
    color: white;
    border-radius: 15px;
    width: 8vw;
    height: 2.2vw;
    text-decoration: none;;
}
.second_button_txt
{
    text-align: center;
    font: normal normal bold 0.8vw/1vw Segoe UI;
    margin-top: 0.5vw;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.react-cookie-law-dialog{
    margin-top: 350px;
    width: 900px;
    height: 250px;
    margin-left: 500px;
}